main{
    .mapa1{
        display: flex;
        justify-content: center;
        padding-top: 30px;
    } 
}
@media screen and (max-width: 990px) {
main{
    .mapa{
        height: inherit;
        width: 100%;
    }
}
}